---
import Layout from '../../layouts/Layout.astro';
import {PlentyApp} from '../../components/plenty-app';
---
<Layout>
  {Astro.locals.account ? <>
  <PlentyApp client:load initialContext={Astro.locals} />
</> : <h1>Account not found</h1>}
</Layout>
