---
import Layout from '../layouts/Layout.astro';
import IndexApp from '../components/index-app.tsx';
---

<Layout>
  Hello {Astro.locals.user?.name}
  <a href="/api/auth/log-out">Log out</a> 
  <IndexApp client:load initialAccessToken={Astro.locals.accessToken}  />
</Layout>
