---
import Topbar from '@/astro-components/topbar.astro';
import '../styles/global.css';
const initialDark = Astro.cookies.get('theme')?.value === 'dark';
---
<!doctype html>
<html lang="en" class={initialDark ? "dark" : ""}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
<title>{Astro.locals.account ? `Plenty | ${Astro.locals.account.name}` : "Plenty"}</title>
	</head>
	<body class=" dark:bg-slate-800 dark:text-white">
    <Topbar />
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
